body {
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    background: #eaeaea;

}
.container-fluid{
    background:#eaeaea;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.headclass {
    padding:0;
    margin:0;
    min-height:100px !important;
}
.headclass img{
    display: inline-block;
}
.header-button {
    background: #08579d;
    color: #fff;
    font-size: 30px;
    margin-top: 10px;
    display: inline-block;
}
.header-button.left{
    margin-right: 20px;
}
.header-button.right{
    margin-left: 20px;
}

.dashboard .main-box-card {
    /*height: 450px; */
    background: #FFFFFF;
    border-top-left-radius : 6px;
    border-top-right-radius : 6px;
    box-shadow: 3px 3px 3px #ccc;
}

.dashboard .header-box {
    padding: 5px;
    background: #08579d;
    border-radius: 6px;
    color: #fff;
    box-shadow: 0px 2px 4px #666;
}

.dashboard .header-box h4 {
    margin: 0px;
}

.dashboard .main-box-card .body-box {
    padding: 28px 10px;
    height: 650px;
}


/*---- today's Cases ---- */

.dashboard .main-box-card .today-cases .body-box {
    padding: 30px 10px 0px 10px;
}

.dashboard .main-box-card .today-cases .body-box .table-responsive {
    height: 535px;
}

.dashboard .main-box-card .today-cases .body-box table {
    font-size: 12px;
}

.dashboard .main-box-card .today-cases .body-box table tr:nth-child(even) {
    background: #edefee;
}


/*---- md analytics ---- */

.dashboard .main-box-card  .blue-btn {
    width: 100%;
    /* height: 100px; */
    color: #fff;
    padding: 20px 10px 20px 10px;
    background: #08579d;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #666;
}

.dashboard .main-box-card  .blue-btn div {
    /* line-height: 100px; */
}

.dashboard .main-box-card .blue-btn i {
    font-size: 40px;
}

.dashboard .main-box-card .body-box img {
    height: 60px;
    display: inline-block;
    text-align: center;
}

.dashboard .menu-option {
    /* text-align: right; */
    padding: 8px 12px;
    font-size: 22px;
    position: absolute;
    right: 20px;
    bottom: 0px;
}

.dashboard .menu-option a:hover {
    color: #6c6c75;
}

.vertical-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-img-box {
    color: #fff;
    background-color: #0b5698;
    border-color: #204d74;
    margin-bottom: 15px;
    box-shadow: 2px 2px 6px #666;
}

.category-img-box a {
    /*display: inline-block;*/
    color: #fff;
    height: 110px;
}

.category-img-box img {
    padding: 5px;
}

.yr-data-box{
    font-size: 25px;
    padding-right: 10px;
}

.yr-data-box .amount{
    display: block;
    font-size: 36px;
    line-height: 1;
}
.yr-data-box .month{
    font-size: 20px;
}

.btn-box{
    display: inline-block;
    min-height: 100px;
    width: 100px;
}

/*.flex-center{
    display: flex;
    justify-content: center;
}*/

.item-box{
    height: 130px;
    width: 150px;
    background-color: #08579d;
    margin: 0 auto;
}

.item-box img{
    margin: 0 auto;
    max-height: 100px;
    width: 60px;
    height: 60px;
}

.blue-title-text{
    color: #1A62A3;
}

.chart-modal .modal-dialog{
    width: 900px;
}
.content-scrollable{
    overflow-x: scroll;
    overflow-y: hidden;
}